.loading-message,
.error-message {
  height: 75vh;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 1vw;
}

.home-button {
  filter: brightness(50);
  height: 50px;
  width: auto;
}

.home-button:hover {
  filter: brightness(1);
}

.login-button,
.logout-button {
  background-color: #E74300;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: x-large;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  padding: 5vh;
  font-family: 'Rubik Mono One', sans-serif;
}

.footer-link {
  margin: 1.5vh;
}

.footer-link:hover {
  color: #E74300;
}

.gradient {
  height: 0.5vh;
  background: linear-gradient(to right, #F9A119, #E74300);
}

h1 {
  margin-bottom: 0px;
}

.site-title {
  color: #E74300;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: x-large;
  margin-bottom: 0px;
}

@media screen and (max-width: 450px) {
  .site-title {
    font-size: large;
  }
}

@media screen and (max-width: 370px) {
  .site-title {
    font-size: medium;
  }
}

@media screen and (max-width: 345px) {
  .site-title {
    font-size: small;
  }

  .login-button,
  .logout-button {
    font-size: large;
    margin-bottom: 5px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .home-button {
    height: 35px;
  }
}
