.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 1vw;
}

.home-button {
  filter: brightness(50);
}

.home-button:hover {
  filter: brightness(1);
}
