form {
  align-self: center;
  min-height: 75vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E74300;
  border-radius: 10px;
  margin: 1vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

input {
  margin: 0 0 2em 0.625em;
}

.form-title {
  font-size: xx-large;
}

.login-btn {
  background-color: #E74300;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: x-large;
  margin-bottom: 12px;
  width: 4.6875em;
}
