.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movieBackdrop {
  width: 100vw;
  max-width: 1250px;
}

.movieData, .featuredMovieData {
  display: flex;
}

.movieTitle, .rating {
  font-size: xx-large;
}

.releaseDate, .genre, .runtime {
  margin: 1vw;
  font-size: 1.2rem;
}

.overview {
  margin-top: 1vh;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  max-width: 1000px;
}
