.trailerContainer {
  margin-top: 10px;
  display: grid;
  width: 640px;
  height: 390px;
}

.movieBackdrop {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
}

.movieData, .featuredMovieData {
  display: flex;
  margin-left: 5vw;
}

.movieTitle, .rating {
  font-size: xx-large;
  margin-right: 6vw;
  margin-left: 0;
}

.releaseDate, .genre, .runtime {
  margin: 1vw;
}

.overview {
  margin-top: 0;
  margin-left: 5vw;
  margin-right: 10vw;
}
.viewTrailer {
  background-color: #E74300;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: x-large;
  margin-bottom: 10px;
}
