.movies {
  display: flex;
  align-items: center;
}

.movies-container {
  display: flex;
  height: 60vh;
  width: 90vw;
  overflow: scroll;
  align-items: center;
  scroll-behavior: smooth;
}

.scrollButton {
  height: 10vh;
  width: 5vw;
}

.scrollButton:hover {
  filter: drop-shadow(5px 5px 10px #FFFF);
}
