.movies {
  display: flex;
  align-items: center;
}

.movies-container {
  display: flex;
  min-height: 60vh;
  max-width: 90vw;
  overflow: scroll;
  align-items: center;
  scroll-behavior: smooth;
}

.scrollButtonLeft,
.scrollButtonRight {
  height: 10vh;
  width: 5vw;
}

.scrollButtonLeft:hover,
.scrollButtonRight:hover {
  filter: drop-shadow(5px 5px 10px #FFFF);
}
