.trailerContainer {
  display: grid;
  grid-template-rows: 1fr
}

.movieBackdrop {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100vw;
}

.trailerContainer:hover .movieBackdrop {
  display: none
}


.movieData, .featuredMovieData {
  display: flex;
  margin-left: 5vw;
}

.movieTitle, .rating {
  font-size: xx-large;
  margin-right: 6vw;
  margin-left: 0;
}

.releaseDate, .genre, .runtime {
  margin: 1vw;
}

.overview {
  margin-top: 0;
  margin-left: 5vw;
  margin-right: 10vw;
}
