.favorites {
  min-height: 60vh;
  width: 90vw;
}


.favorites-label {
  margin-bottom: 0;
}

.logout-button {
  background-color: #E74300;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: x-large;
  margin-top: 2vh;
  margin-bottom: 12px;
  width: 4.6875em;
}

.link-to-favorite:hover {
  color: #E74300;
}
