.top-movie {
  width: 15vw;
  text-align: center;
  margin: 15px;
  margin-bottom: 0px;
}

.top-movie:hover {
  border: 2px solid #E74300;
}

.top-movie-rating {
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 0;
  border-radius: 10%;
  padding: 2vh;
  color: #000000;
  background-color: #F9A119;
}


.top-movie-title {
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 0px;
}
