.top-movie {
  text-align: center;
  margin: 15px;
  margin-bottom: 0px;
}

.top-movie-rating {
  font-size: x-large;
  margin-bottom: 0;
}

.top-movie-title {
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 0px;
}
