.top-rated-title {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.top-three-section {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 450px) {
    .top-three-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
