
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  width: 100vw;
  background: linear-gradient(#434343, #000000);
  color: #FFFF;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hidden {
  display: none;
}
